.bar_chart {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	background-color: #ffffff;
	height: 250px;
}
.bar_container {
	border-left: 12px solid #f9f9f9;
	height: 200px;
	border-radius: 50px;
	position: relative;
}

.fillBar {
	border-left: 12px solid #63ddcf;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.type_card {
	background-color: #ffffff;
	height: 250px;
}

.type_card h2 {
	font-weight: 600;
	font-size: 15.0968px;
	color: #060e14;
}

.type_card_details {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.type_card_details .type_color_line {
	width: 32px;
	height: 6px;
	margin-right: 15px;
	border-radius: 5px;
}
.type_card_details h3 {
	padding-top: 8px;
	font-weight: bold;
	font-size: 10.9861px;
	color: #060e14;
}

.type_card_details h3 span {
	color: #b8b8b8;
}

/*#################  Arrow Chart  ############### */
.arrow_chart {
	background-color: #ffffff;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 36px;
}

/*################# List of Factors #################*/
.factors_list_headeings {
	font-weight: 600;
	font-size: 14.1298px;
	color: #060e14;
	opacity: 0.5;
}

.factors_card {
	display: flex;
	align-items: center;
	height: 75px;
	background: #ffffff;
	border-radius: 3px;
	font-weight: 600;
	font-size: 13.0968px;
	line-height: 23px;
	color: #060e14;
}
