.perimeter_header {
	display: flex;
	align-items: center;
}
.perimeter_header .perimeter_search {
	display: flex;
	align-items: center;
}

.perimeter_header p {
	font-weight: normal;
	font-size: 14.1298px;
	color: #060e14;
	padding-top: 16px;
	padding-left: 25px;
	opacity: 0.5;
}

/* Impact List Card */
.perimeter_list_heading {
	font-weight: 600;
	font-size: 13.1298px;
	color: #060e14;
	opacity: 0.5;
}

.impact_card {
	display: flex;
	align-items: center;
	height: 75px;
	background: #ffffff;
	border-radius: 3px;
	font-weight: 550;
	font-size: 12.0968px;
	color: #060e14;
}
