.sidebar {
	height: calc(100vh - 30px);
	/* position: fixed; */
	/* position: sticky; */
}

.sidebar h1 {
	padding-top: 10px;
}

.link_list {
	list-style: none;
	font-weight: normal;
	font-size: 14.1298px;
	color: #060e14;
	text-decoration: none;
	padding: 20px 0;
}
.link_list img {
	padding-right: 15px;
}

.activeLink {
	font-weight: bold;
	font-size: 14.1298px;

	color: #060e14;
}

.activeLink .rectangle {
	display: inline;
}

.rectangle {
	display: none;
	width: 6px;
	height: 18px;
	position: absolute;
	background-color: #132a3a;
	margin-left: -50px;
	margin-top: 1px;
}

.sidebar_footer {
	position: absolute;
	/* top: 0; */
	bottom: 20px;
	/* margin-bottom: 20px; */
	/* margin-bottom: 20px; */

	/* margin: 70px 0; */
}

.sidebar_footer h2 {
	font-weight: 600;
	font-size: 14.1298px;
	color: #060e14;
}

.sidebar_footer p {
	font-weight: normal;
	font-size: 10.0818px;
	color: #060e14;
}
/* 
.sidebarFooter {
	position: absolute;

	top: calc(100% - 90px);
	line-height: 3px;
} */
