.smallCard {
	background: #ffffff;
	border-radius: 3px;
	padding: 10px;
}

.smallCard .row {
	display: flex;
	align-items: center;
}

.smallCard p {
	font-weight: 500;
	font-size: 12px;
	color: #060e14;
	padding-top: 13px;
}

.smallCard h2 {
	font-weight: bold;
	font-size: 16.9493px;

	color: #060e14;
}
.smallCard h3 {
	font-weight: 600;
	font-size: 15.0968px;
	color: #060e14;
	padding-top: 10px;
}
